<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->
<!-- <link th:href="@{css/bootstrap-select.min.css}" rel="stylesheet" />
<link th:href="@{css/bootstrap-select.css}" rel="stylesheet" /> -->
<script th:src="@{/js/language.js}"></script>

<script th:src="@{/js/bootstrap-select.min.js}"></script>

<script th:src="@{/js/bootstrap-select.js}"></script>

<script th:src="@{/js/jquery-2.2.3.min.js}"></script>
<script th:src="@{/js/jquery-gmaps-latlon-picker.js}"></script>
<!--  <script th:src="@{/js/wms.js}"></script>-->
<!-- <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script> -->


<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_Y988QZZ7WxIF2Zb5EcLExMuBl9Lqhkk"></script> -->

<!-- <script src="jquery-2.2.3.min.js"></script> -->

<!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_Y988QZZ7WxIF2Zb5EcLExMuBl9Lqhkk"></script>  -->
<style>
.table-head {
	padding: 5px 10px !important;
	border-top-color: rgb(255, 255, 255) !important;
	border-right-color: rgb(255, 255, 255) !important;
	background: rgb(224, 229, 238);
	border-radius: 7px;
}

.table-head>div {
	white-space: nowrap;
	display: inline-block;
	font-size: 19px;
	color: rgb(0, 108, 182);
	font-weight: 500;
}

.tbl1 td:first-child {
	max-width: 50px;
}

.plus {
	float: right;
	background: rgb(73, 112, 176);
	height: 28px;
	width: 28px;
	color: rgb(255, 255, 255);
	text-align: center;
	border-radius: 50%;
	font-size: 12px;
	line-height: 29px;
	margin-left: 10px;
	cursor: pointer;
}

.plus .fa {
	transition: all .3s ease;
}

.plus.active .fa {
	transform: rotate(-90deg);
}

.tbody-content {
	/*  display: none; */
	
}

.tbl-lg tr td input[type="text"] {
	min-width: 100px;
	height: 37px;
	font-size: 13px;
	/* padding: 2px 5px; */
	text-align: center;
}

.datePickerTimeSplit1 .bootstrap-datetimepicker-widget {
	position: absolute;
	top: -10em !important;
}

.first-table-div {
	height: 30vh;
}
</style>
</head>



<div th:fragment="entrepreneurPopupScript">
	<script type="text/javascript">
		$(function() {
			/* $(".datetimepicker-input").val(""); */
			/* $('#workContractorId').select2({
				theme : "bootstrap"
			});
			 */
			$('#datetimepicker1').datetimepicker({
				//viewMode : 'days',
				//maxDate : moment(),
				//useCurrent: false,
				format : 'DD/MM/YYYY'
			//useCurrent : false
			});
			/* $("#dateOfRegistration").keypress(function(event) {
				event.preventDefault();
			}); */

			$('#datetimepicker2').datetimepicker({
				//viewMode : 'days',
				// maxDate : moment(), 
				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});

			$('#datetimepicker3').datetimepicker({
				//viewMode : 'days',
				/* maxDate : moment(), */
				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});
			$('#datetimepicker31').datetimepicker({
				//viewMode : 'days',
				/* maxDate : moment(), */
				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});
			$('#datetimepicker32').datetimepicker({
				//viewMode : 'days',
				/* maxDate : moment(), */
				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});
			$('#datetimepicker33').datetimepicker({
				//viewMode : 'days',
				/* maxDate : moment(), */
				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});

			$('#datetimepicker4').datetimepicker({
				//viewMode : 'days',

				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});

			$('#datetimepicker5').datetimepicker({
				//viewMode : 'days',
				/* maxDate : moment(), */
				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});
			$('#datetimepicker51').datetimepicker({
				//viewMode : 'days',
				/* maxDate : moment(), */
				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});

			$('#datetimepicker6').datetimepicker({
				//viewMode : 'days',
				/* maxDate : moment(), */
				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});

			$('#datetimepicker7').datetimepicker({
				//viewMode : 'days',
				/* maxDate : moment(), */
				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});

			$('#datetimepicker8').datetimepicker({
				//viewMode : 'days',
				/* maxDate : moment(), */
				//useCurrent: false,
				// format : 'DD/MM/YYYY',
				format : 'DD/MM/YYYY'
			// useCurrent : false
			});

			/* $("#startingDate").keypress(function(event) {
				event.preventDefault();
			}); */

			/*	$("#datetimepicker1").on("change.datetimepicker", function(e) {
					$('#datetimepicker2').datetimepicker('minDate', e.date);
				});
				$("#datetimepicker2").on("change.datetimepicker", function(e) {
					$('#datetimepicker1').datetimepicker('maxDate', e.date);
				}); */
			setTimeout(function() {
				//alert('pppi');
				$('#accountHeadId1').selectpicker();
			}, 1000);

			//village
			//setTimeout(function(){
			//	alert('pppi');

			$('#workBlockId').selectpicker({
				actionsBox : true
			});

			$('#workGramPanchayatId').selectpicker({
				actionsBox : true
			});

			$('#villageId').selectpicker({
				actionsBox : true
			});

			/* $('#habitatId').selectpicker({
				actionsBox: true
			}); */

			//},1000);
			/* $('#workGramPanchayatId').selectpicker({
				actionsBox: true
			}); */

		});
	</script>


	<script>
		$(document).ready(function() {
			var mySelect = $('#first-disabled2');

			$('#blockId').selectpicker({
				actionsBox : true
			});

			$('#workGramPanchayatId').selectpicker({
				actionsBox : true
			});

			$('#villageId').selectpicker({
				actionsBox : true
			});

			$('#habitatId').selectpicker({
				actionsBox : true
			});

			$('.select21').select2({
				theme : "bootstrap"
			});

		});
	</script>

	<script type="text/javascript">
		/* function getAccountHeadValue(){
		 //alert('get VAlue='+$('#exeOfficeId').val());
		 return $('#villageId').val()+"";
		 } */
	</script>

</div>
<div>

	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#dashboard"><span
				th:text="#{home}">Home</span></a></li>
		<li class="breadcrumb-item active"><span>Create Work</span></li>

		<!-- Breadcrumb Menu-->
		<li class="breadcrumb-menu d-md-down-none">
			<div class="btn-group" role="group" aria-label="Button group">
				<a class="btn" href="#" data-ng-click="doTheBack()"><i
					class="icon-arrow-left-circle"></i> &nbsp;<span th:text="#{back}">Back</span></a>
			</div>
		</li>
	</ol>


	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div class="card">

						<div class="card-header top-header">
							<i class="fa fa-wpforms"></i> <span>Add Work Data</span>


						</div>
						<div class="col-md-12">
							<div data-ng-if="responseObject.errorMessage != null"
								class="text-danger">
								<strong>Error!</strong>
								<p>{{responseObject.errorMessage}}</p>
							</div>
						</div>
						<div class="wizard bg-white mb-3">
							<div class="wizard-inner">
								<div class="physicalDetail">
									<span> Physical Progress</span>
								</div>

								<ul class="nav nav-tabs nav-justified border-0 bg-white"
									role="tablist">


									<li role="presentation" class="nav-item"><a href=".step1"
										data-toggle="tab" aria-controls="step1" role="tab"
										title="Step 1" class="nav-link active"> <span
											class="fa fa-file-text-o"></span> <span>Work Details <em
												class="count">1</em>
										</span>

									</a></li>


									<li role="presentation" class="nav-item"><a href=".step2"
										data-toggle="tab" aria-controls="step2" role="tab"
										title="Step 2" class="nav-link disabled stopVald"> <span
											class="fa fa-road"></span> <span>TS Details/ AS
												Details <em class="count">2</em>
										</span>

									</a></li>

									<li role="presentation" class="nav-item"><a href=".step3"
										data-toggle="tab" aria-controls="step3" role="tab"
										title="Step 3" class="nav-link disabled  stopVald"> <span
											class="fa fa-map-o"></span> <span>Tender Details <em
												class="count">3</em>
										</span>
									</a></li>

									<li role="presentation" class="nav-item"><a href=".step4"
										data-toggle="tab" aria-controls="step4" role="tab"
										title="Step 4" class="nav-link disabled stopVald"> <span
											class="fa fa-credit-card"></span> <span>Contractor
												Details <em class="count">4</em>
										</span>
									</a></li>

									<li role="presentation" class="nav-item"><a href=".step5"
										data-toggle="tab" aria-controls="step5" role="tab"
										title="Step 5" class="nav-link disabled stopVald"> <span
											class="fa fa-credit-card"></span> <span>Work Progress
												Details<em class="count">5</em>
										</span>
									</a></li>

									<li role="presentation" class="nav-item"><a href=".step6"
										data-toggle="tab" aria-controls="step6" role="tab"
										title="Step 6" class="nav-link disabled stopVald"> <span
											class="fa fa-credit-card"></span> <span>Work
												Contractor Certiificate<em class="count">6</em>
										</span>
									</a></li>
								</ul>
							</div>
							<div class="d-flex flex-wrap justify-content-center">
								<div class="wp">
									<strong>Total Work Completion Percentage:</strong> <span>{{workData.totalWorkCompletionPercentage}}</span>
								</div>
								<div class="wp"
									data-ng-show="workData.workTypeBean.workTypeId=='1'">
									<strong>Total Work Sanctioned (In KM):</strong> <span>{{workData.totalLengthSanctionedInKm}}</span>
								</div>
								<div class="wp"
									data-ng-show="workData.workTypeBean.workTypeId=='1'">
									<strong>Total Work Completed (In KM):</strong> <span>{{workData.totalWorkProgressInKm}}</span>
								</div>
							</div>
							<div class="tab-content">
								<!-- /tab1 -->
								<div class="tab-pane active step1" role="tabpanel" id="step1">
									<div
										th:replace="ee/legacy/addLegacyWorkDetails :: add_legacy_workDetails"></div>
								</div>

								<!-- /tab2 -->
								<!-- <div class="tab-pane step2" role="tabpanel" id="step2">
									<div th:replace="ee/legacy/addLegacyWorkComponents :: add_legacy_workComponents"></div>
									</div> -->


								<!-- /tab2 -->
								<!-- <div class="tab-pane step3" role="tabpanel" id="step3">
									<div th:replace="ee/legacy/addLegacyBoqDetails :: add_legacy_boq_details"></div>
									</div> -->

								<!-- /tab2 -->
								<!-- <div class="tab-pane step4" role="tabpanel" id="step4">-->
								<form
									data-ng-submit="addWorkFinancialProgress(workFinancialProgressFormName.$valid)"
									name="workFinancialProgressFormName"
									id="workFinancialProgressFormId" novalidate="novalidate"
									data-parsley-excluded="[disabled=disabled], input[type=button], input[type=submit], input[type=reset], input[type=hidden], .ignore-validation">
									<div class="tab-header">Financial Progress</div>

									<!-- <h6 class="entry-title">Opening Balance Entry PIU level <small>As on ....................</small></h6> -->
									<div class="table-responsive mb-3">
										<div class="first-table-div">
											<table class="table table-bordered tbl-light tbl-lg"
												data-ng-repeat="bill in workData.billList">
												<script type="text/javascript">
													$(function() {
														$(
																'.datePickerTimeSplit1')
																.datetimepicker(
																		{
																			//viewMode : 'days',
																			//maxDate : moment(),
																			//useCurrent: false,
																			format : 'DD/MM/YYYY'
																		//useCurrent : false
																		});

													});
												</script>
												<thead>
													<tr>
														<th rowspan="3">Package No.</th>
														<th rowspan="3">Agreement No.</th>
														<th rowspan="3">Bill No.</th>
														<th colspan="5" rowspan="3">Bill Date.</th>
														<th colspan="5" rowspan="3">Voucher No.</th>
														<th colspan="8" rowspan="1" class="bg-ds">Debit Side</th>
														<th colspan="12" class="bg-cs">Credit Side</th>
														<th rowspan="3" class="bgtotal">Difference (Total A -
															Total B)</th>
														<th rowspan="3" class="bgtotal">Finalization Status</th>
													</tr>
													<tr>
														<th colspan="5" class="bg-ds"></th>
														<th colspan="2" class="bg-ds">Outstanding Advance</th>
														<th colspan="1" class="bg-ds"></th>
														<th colspan="9" class="bg-cs">Outstanding Liability</th>
														<th rowspan="2" class="bg-cs">Total B (14 to 22)</th>
														<th rowspan="2" class="bg-cs">Net / Fund Received
															from HO</th>
														<th rowspan="2" class="bgtotal">Total C (23 to 24)</th>

													</tr>
													<tr>
														<th class="width-sm bg-ds">{{typeWork}} Name</th>
														<th class="bg-ds">Expenditure upto....</th>
														<th class="bg-ds">CGST</th>
														<th class="bg-ds">SGST</th>
														<th class="bg-ds">IGST</th>
														<th class="bg-ds">Machinery</th>
														<th class="bg-ds">Mobilization</th>
														<th class="bgtotal">Total A (7 to 12)</th>
														<th class="bg-cs">Income Tax</th>
														<th class="bg-cs">CGST TDS</th>
														<th class="bg-cs">SGST TDS</th>
														<th class="bg-cs">IGST TDS</th>
														<th class="bg-cs">L.Cess.</th>
														<th class="bg-cs">Security Deposit</th>
														<th class="bg-cs">Misc. Deposit</th>
														<th class="bg-cs">Royalty</th>
														<th class="bg-cs">Penalty</th>

													</tr>
													<tr class="bg-number">
														<td>1</td>
														<td>2</td>
														<td>3</td>
														<td colspan="5">4</td>
														<td colspan="5">5</td>
														<td class="width-sm">6</td>
														<td>7</td>
														<td>8</td>
														<td>9</td>
														<td>10</td>
														<td>11</td>
														<td>12</td>
														<td>13</td>
														<td>14</td>
														<td>15</td>
														<td>16</td>
														<td>17</td>
														<td>18</td>
														<td>19</td>
														<td>20</td>
														<td>21</td>
														<td>22</td>
														<td>23</td>
														<td>24</td>
														<td>25</td>
														<td>26</td>
														<td>27</td>
													</tr>
												</thead>

												<tbody>
													<tr data-ng-init="index1=$index">
														<td class="bg-def">{{workData.workName}}</td>
														<td class="bg-def">{{workData.agreementNumber}}</td>
														<td class="bg-def"><input type="text"
															class="form-control" id="billNo"
															data-ng-model="bill.billNo" name="billNo" maxlength="40" /></td>
														<td class="bg-def" colspan="5">
															<div class="input-group  datePickerTimeSplit1"
																id="billDate_{{$index}}" data-target-input="nearest">
																<input type="text" required="required"
																	class="form-control datetimepicker-input"
																	data-target="#billDate_{{$index}}"
																	name="datepicker_billDate_{{$index}}"
																	placeholder="DD/MM/YYYY" data-ng-model="bill.billDate"
																	id="billDate_{{$index}}" autocomplete="off" />
																<div class="input-group-append input-group-addon"
																	data-target="#billDate_{{$index}}"
																	data-toggle="datetimepicker">
																	<div class="input-group-text">
																		<i class="fa fa-calendar"></i>
																	</div>
																</div>
															</div>
														</td>
														<td colspan="5" class="bg-def"><input type="text"
															class="form-control" id="voucherNumber"
															data-ng-model="bill.voucherNumber" name="voucherNumber"
															maxlength="40" /></td>
														<td colspan="2" class="p-0 bg-ds1">
															<table width="100%">
																<tr
																	data-ng-repeat="billRoadExpenditureBean in bill.billRoadExpenditureBeanList"
																	data-ng-init="index2=$index">
																	<!-- <td class="width-sm">{{typeWork}}-{{index2+1}}</td> -->
																	<td class="width-sm">{{billRoadExpenditureBean.roadName}}</td>
																	<td><input type="text"
																		class="form-control digits-only"
																		id="expenditureAmount_{{index2}}"
																		data-ng-change="calculateBillAmount()"
																		data-ng-model="billRoadExpenditureBean.expenditureAmount"
																		name="expenditureAmount_{{index2}}" maxlength="40"
																		required="required" /></td>
																</tr>
															</table>
														</td>

														<td class="bg-ds1"><input type="text"
															class="form-control digits-only" id="cgst"
															data-ng-model="bill.cgst" name="cgst" maxlength="40" />
														</td>
														<td class="bg-ds1"><input type="text"
															class="form-control digits-only" id="sgst"
															data-ng-model="bill.sgst" name="sgst" maxlength="40" />
														</td>
														<td class="bg-ds1"><input type="text"
															class="form-control digits-only" id="igst"
															data-ng-model="bill.igst" name="igst" maxlength="40" />
														</td>
														<td class="bg-ds1"><input type="text"
															class="form-control digits-only" id="machinery"
															data-ng-model="bill.machinery" name="machinery"
															maxlength="40" required="required" /></td>
														<td class="bg-ds1"><input type="text"
															class="form-control digits-only" id="mobilization"
															data-ng-model="bill.mobilization" name="mobilization"
															maxlength="40" required="required" /></td>
														<td class="bgtotal"><strong>{{bill.overallPayment+(bill.machinery---0)+(bill.mobilization---0)+(bill.cgst---0)+(bill.sgst---0)+(bill.igst---0)}}</strong></td>
														<td class="bg-cs1"><input type="text"
															class="form-control digits-only" id="incomeTax"
															data-ng-model="bill.incomeTax" name="incomeTax"
															maxlength="40" /></td>
														<td class="bg-cs1"><input type="text"
															class="form-control digits-only" id="cgstTds"
															data-ng-model="bill.cgstTds" name="cgstTds"
															maxlength="40" /></td>
														<td class="bg-cs1"><input type="text"
															class="form-control digits-only" id="sgstTds"
															data-ng-model="bill.sgstTds" name="sgstTds"
															maxlength="40" /></td>
														<td class="bg-cs1"><input type="text"
															class="form-control digits-only" id="igstTds"
															data-ng-model="bill.igstTds" name="igstTds"
															maxlength="40" /></td>
														<td class="bg-cs1"><input type="text"
															class="form-control digits-only" id="lCess"
															data-ng-model="bill.lCess" name="lCess" maxlength="40" />
														</td>
														<td class="bg-cs1"><input type="text"
															class="form-control digits-only" id="securityDeposit"
															data-ng-model="bill.securityDeposit"
															name="securityDeposit" maxlength="40" /></td>
														<td class="bg-cs1"><input type="text"
															class="form-control digits-only" id="miscDeposit"
															data-ng-model="bill.miscDeposit" name="miscDeposit"
															maxlength="40" /></td>
														<td class="bg-cs1"><input type="text"
															class="form-control digits-only" id="royalty"
															data-ng-model="bill.royalty" name="royalty"
															maxlength="40" /></td>
														<td class="bg-cs1"><input type="text"
															class="form-control digits-only" id="penaltyDeducted"
															data-ng-model="bill.penaltyDeducted"
															name="penaltyDeducted" maxlength="40" /></td>
														<td class="bg-cs1"><strong>{{(bill.incomeTax---0)+(bill.cgstTds---0)+(bill.sgstTds---0)+(bill.igstTds---0)+(bill.lCess---0)+(bill.securityDeposit---0)+(bill.miscDeposit---0)+(bill.royalty---0)+(bill.penaltyDeducted---0)}}</strong></td>
														<td class="bg-cs1"><input type="text"
															class="form-control digits-only" id="netFundReceived"
															data-ng-model="bill.netFundReceived"
															name="netFundReceived" maxlength="40" /></td>
														<td class="bgtotal"><strong>{{((bill.incomeTax---0)+(bill.cgstTds---0)+(bill.sgstTds---0)+(bill.igstTds---0)+(bill.lCess---0)+(bill.securityDeposit---0)+(bill.miscDeposit---0)+(bill.royalty---0)+(bill.penaltyDeducted---0))+(bill.netFundReceived---0)}}</strong></td>
														<td class="bgtotal total2"><strong>{{(bill.overallPayment+(bill.machinery---0)+(bill.mobilization---0)+(bill.cgst---0)+(bill.sgst---0)+(bill.igst---0))-(((bill.incomeTax---0)+(bill.cgstTds---0)+(bill.sgstTds---0)+(bill.igstTds---0)+(bill.lCess---0)+(bill.securityDeposit---0)+(bill.miscDeposit---0)+(bill.royalty---0)+(bill.penaltyDeducted---0))+(bill.netFundReceived---0))}}</strong></td>



														<td class="bgtotal"><span
															class="btn btn-sm btn-success">Finalize</span> <span
															class="btn btn-sm btn-danger" style="display: none;">Not
																Finalize</span> <script>
																	$("input")
																			.keyup(
																					function() {

																						if ($(
																								".total2")
																								.text()
																								.trim() === "0") {
																							$(
																									".bgtotal .btn-success")
																									.show();
																							$(
																									".bgtotal .btn-danger")
																									.hide();
																							$(
																									'.btn-success[type="submit"]')
																									.removeAttr(
																											"disabled");
																						}
																						if ($(
																								".total2")
																								.text()
																								.trim() != "0") {

																							$(
																									".bgtotal .btn-success")
																									.hide();
																							$(
																									".bgtotal .btn-danger")
																									.show();
																							$(
																									'.btn-success[type="submit"]')
																									.attr(
																											"disabled",
																											"disabled");
																						}
																					});
																</script></td>

													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td colspan="4"><strong> Total Package
																Expenditure </strong></td>
														<td><strong>{{bill.overallPayment}}</strong></td>
														<td><strong></strong></td>
														<td><strong></strong></td>
														<td><strong></strong></td>
														<td colspan="13"></td>
													</tr>
												</tfoot>

											</table>
										</div>
									</div>

									<div
										class="tab-footer d-flex justify-content-between flex-wrap flex-sm-nowrap">
										<button type="button"
											class="btn btn-gray prev-step prev-button">
											<span class="fa fa-arrow-circle-left"></span> Previous
										</button>
										<div>
											<button type="submit" class="btn  btn-primary  next-button"
												data-ng-click="finalSubmit=false;saveAsDraft=true;saveAndNext=false;">
												<i class="las la-file-alt"></i> Save As Draft
											</button>

											<button type="submit" class="btn  btn-success"
												data-ng-click="finalSubmit=true;saveAsDraft=false;saveAndNext=false;">
												<span>Save All &amp; Final Submit</span>
											</button>
										</div>
									</div>
								</form>

							</div>
							<!-- /tab3 -->
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<!--/.col-->
		</div>
		<!--/.row-->
	</div>
</div>
<!-- /.container-fluid -->
</div>




<script th:src="@{/js/wizard.js}"></script>
<script type="text/javascript">
	
</script>
</html>