<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript">
	//<![CDATA[
	function check_pass() {
		if (document.getElementById('password').value
				&& document.getElementById('confirmPassword').value) {
			if (document.getElementById('password').value == document
					.getElementById('confirmPassword').value) {
				document.getElementById('submit').disabled = false;
				document.getElementById('passwordError').style.display = 'none';
			} else {
				document.getElementById('submit').disabled = true;
				document.getElementById('passwordError').style.display = 'block';
			}
		}
	}
	
	function checkStrongPassword() {

	    var password = document.getElementById("password").value;
	    var strengthBox = document.getElementById("passwordStrength");
	    var strengthFill = document.getElementById("strengthFill");
	    var strengthText = document.getElementById("strengthText");
	    var errorMsg = document.getElementById("strongPasswordError");
	    var submitBtn = document.getElementById("submit");

	    if (!password) {
	        strengthBox.style.display = "none";
	        errorMsg.style.display = "none";
	        submitBtn.disabled = true;
	        submitBtn.style.display = "none";
	        return;
	    }

	    strengthBox.style.display = "block";

	    // Mandatory checks (ALL required)
	    var hasLength  = password.length >= 8;
	    var hasUpper   = /[A-Z]/.test(password);
	    var hasLower   = /[a-z]/.test(password);
	    var hasNumber  = /\d/.test(password);
	    var hasSpecial = /[@$!%*#?&]/.test(password);

	    //  If ANY condition fails → Weak
	    if (!(hasLength && hasUpper && hasLower && hasNumber && hasSpecial)) {

	        strengthFill.style.width = "33%";
	        strengthFill.style.background = "red";
	        strengthText.innerHTML = "Weak Password";
	        errorMsg.style.display = "block";
	        submitBtn.disabled = true;
	        submitBtn.style.display = "none";

	    }
	    //  ALL conditions passed → Strong
	    else {

	        strengthFill.style.width = "100%";
	        strengthFill.style.background = "green";
	        strengthText.innerHTML = "Strong Password";
	        errorMsg.style.display = "none";
	        submitBtn.disabled = false;
	        submitBtn.style.display = "inline-block";
	    }
	}
	//]]>
</script>
</head>
<div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#dashboard">Home</a></li>
		<li class="breadcrumb-item active">Change Password</li>

		<!-- Breadcrumb Menu-->
		<li class="breadcrumb-menu d-md-down-none">
			<div class="btn-group" role="group" aria-label="Button group">
				<a class="btn" href="#" data-ng-click="doTheBack()"><i
					class="icon-arrow-left-circle"></i> &nbsp;Back</a>
			</div>
		</li>
	</ol>

	<div class="container-fluid">

		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-wpforms"></i> Change Password
						</div>
			
							<form action="javascript:void(0);"
							      data-ng-submit="changePasswordFunction(changePasswordForm.$valid)"
							      name="changePasswordForm"
							      novalidate="novalidate"
							      ng-init="verifyUserPasswordExpiry()">
							
							<div class="card-body">
								<div class="row">
									<div class="col-md-12">
										<div data-ng-if="responseObject.errorMessage != null"
											class="text-danger">
											<strong>Error!</strong>
											<p>{{responseObject.errorMessage}}</p>
										</div>
										<div data-ng-if="responseObject.successMessage != null"
											class="text-success">
											<strong>Success!</strong>
											<p>{{responseObject.successMessage}}</p>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-group col-sm-4">

										<label><span>Current password</span><span
											class="aestrick">&#42;</span></label> <input required="required"
											class="form-control" type="password"
											data-ng-model="changePasswordData.currentPassword"
											name="currentPassword" id="currentPassword" maxlength="20" ng-change="checkCurrentPassword()"
											autocomplete="off" />
										<div data-ng-show="changePasswordForm.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="changePasswordForm.currentPassword.$error.required">
												<span>Please enter current password.</span>
											</p>
										</div>
										<!--  Wrong current password -->
										<p class="help-block" style="color:red;" data-ng-show="wrongCurrentPassword">
											Current password is incorrect.
										</p>
									</div>
									<div class="form-group col-sm-4">
										<label><span>New password</span><span class="aestrick">&#42;</span></label>
										<input required="required" class="form-control"
											type="password" data-ng-model="changePasswordData.password"
											name="password" maxlength="20" id="password"
											onkeyup="checkStrongPassword();check_pass();" autocomplete="off"
											oncopy="return false"
													onpaste="return false"
													oncut="return false" />
															<!-- Password strength meter -->
										<div id="passwordStrength"
											style="margin-top:6px; display:none;font-size: 12pt;font-weight:bold;">
											<div style="height:5px; background:#ddd;">
												<div id="strengthFill" style="height:5px; width:0%;"></div>
											</div>
											<small id="strengthText"></small>
										</div>

										<!-- Weak password message -->
										<p id="strongPasswordError" class="help-block"
											style="color:red; display:none;font-weight:bold;">
											Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.
										</p>
										<div data-ng-show="changePasswordForm.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="changePasswordForm.password.$error.required">
												<span>Please enter new password.</span>
											</p>
										</div>
									</div>
									<!-- </div>
										<div class="row"> -->
									<div class="form-group col-sm-4">
										<label><span>Confirm password</span><span
											class="aestrick">&#42;</span></label> <input required="required"
											class="form-control" type="password"
											data-ng-model="changePasswordData.confirmPassword"
											name="confirmPassword" id="confirmPassword" maxlength="20"
											onkeyup="check_pass();" autocomplete="off" 
											oncopy="return false"
	onpaste="return false"
	oncut="return false" />
										<div data-ng-show="changePasswordForm.$submitted">
											<p class="help-block" style="color: red;"
												data-ng-show="changePasswordForm.confirmPassword.$error.required">
												<span>Please enter confirm password.</span>
											</p>
										</div>
										<p class="help-block" style="color: red; display: none;"
											id="passwordError">
											<span>Password and Confirm Password doesn't match</span>
										</p>
									</div>
								</div>

							</div>
							<div class="card-footer text-right">
								<button type="submit" class="btn btn-sm btn-primary" id="submit" style="display:none;"  data-ng-hide="wrongCurrentPassword">Submit</button>
								<!-- <button type="reset" class="btn btn-sm btn-danger">Reset</button> -->
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:src="@{/js/sha256.js}"></script>
<script type="text/javascript" th:inline="javascript">
	function hash(val) {

		var hashObj = new jsSHA("SHA-256", "TEXT", "1");
		hashObj.update(val);
		return hashObj.getHash("HEX");
	}
</script>
</html>