<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/bootstrap-select.js}"></script>

<script>
$(document).ready(function() {
	$('#issueTypeFilter').selectpicker({
		actionsBox: true,
		liveSearch: true,
		noneSelectedText: '--Select Issue Type--'
	});
	$('#deptNameFilter').selectpicker({
		actionsBox: true,
		liveSearch: true,
		noneSelectedText: '--Select Department--'
	});
});
</script>

<style>
thead th { color: #076659; background-color: #D0EAEB; }
.table th, .table td { text-align: center; vertical-align: middle; }
.card { margin-bottom: 1.5rem; box-shadow: 0 0 7px rgb(0 0 0 / 70%); border-radius: 7px; }
select#issueTypeFilter + button, select#deptNameFilter + button { background: #fff; border: 1px solid #ccc; }
.dropdown-menu.show { width: 100% !important; }
a.count-link { font-weight: bold; }
</style>
</head>

<div id="page-div">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a><span th:text="#{home}">Home</span></a></li>
		<li class="breadcrumb-item active"><span>DM Remark-wise Report</span></li>
		<li class="breadcrumb-menu d-md-down-none">
			<div class="btn-group" role="group">
				<a class="btn" data-ng-click="doTheBack()"><i class="icon-arrow-left-circle"></i> &nbsp;<span th:text="#{back}">Back</span></a>
			</div>
		</li>
	</ol>

	<div class="container-fluid">
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-bar-chart"></i>
							<span> DM Remark-wise Report </span>
						</div>
						<div class="card-body" data-ng-init="loadIssueTypeOptions(); loadDeptNameOptions(); fetchDmRemarkWiseReportData();">

							<!-- Filters -->
							<div class="pr">
								<form name="dmRemarkWiseReportForm" novalidate="novalidate">
									<fieldset class="legend-border">
										<legend class="legend-border">Filters</legend>
										<div class="row">

											<!-- Issue Type Filter -->
											<div class="form-group col-sm-6">
												<label>Issue Type</label>
												<select multiple="multiple" class="form-control selectpicker"
													id="issueTypeFilter"
													name="issueTypeFilter"
													data-live-search="true"
													data-actions-box="true"
													title="--Select Issue Type--">
													<option data-ng-repeat="opt in issueTypeOptions"
														value="{{opt.id}}">{{opt.name}}</option>
												</select>
											</div>

											<!-- Department Name Filter -->
											<div class="form-group col-sm-6">
												<label>Department Name</label>
												<select multiple="multiple" class="form-control selectpicker"
													id="deptNameFilter"
													name="deptNameFilter"
													data-live-search="true"
													data-actions-box="true"
													title="--Select Department--">
													<option data-ng-repeat="opt in deptNameOptions"
														value="{{opt.implementationAgencyId}}">{{opt.implementationAgencyNameE}}</option>
												</select>
											</div>

										</div>
									</fieldset>
								</form>
							</div>

							<!-- Action Buttons -->
							<div class="form-group col-sm-12 text-right mt-2">
								<button type="button" class="btn btn-primary"
									data-ng-click="fetchDmRemarkWiseReportData();">Search</button>
								<button type="button" class="btn btn-secondary"
									data-ng-click="resetDmRemarkFilters();">Reset</button>
							</div>

							<!-- Summary Table -->
							<div class="table-responsive">
								<table class="table table-bordered table-striped" style="width:100%">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>Issue Type</th>
											<th>Department Name</th>
											<th>Total Works</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-if="!dmRemarkWiseReportRows || dmRemarkWiseReportRows.length === 0">
											<td colspan="4">No data available</td>
										</tr>
										<tr data-ng-repeat="row in dmRemarkWiseReportRows track by $index">
											<td>{{$index + 1}}</td>
											<td>{{row.issueType}}</td>
											<td>{{row.departmentNames}}</td>
											<td><a class="count-link" style="cursor:pointer;" data-ng-click="goToDmRemarkDetail(row)">{{row.totalWorks}}</a></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
