<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<div th:fragment="footer">
	
		<!-- Bootstrap and necessary plugins -->
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/bootstrap-select.js}"></script>
		<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
		<script th:src="@{/js/pace.min.js}"></script>
		<script th:src="@{/js/app.js}"></script>
		<script th:src="@{/js/common.js}"></script>
		<script th:src="@{/js/jQuery.print.js}"></script>
		<script th:src="@{/js/moment.js}"></script>

		<!-- jQuery Datatable — load BEFORE Angular so $ is fully set up -->
		<script type="text/javascript" th:src="@{/JSZip-2.5.0/jszip.min.js}"></script>
		<script type="text/javascript" th:src="@{/DataTables-1.10.16/js/jquery.dataTables.min.js}"></script>
		<script type="text/javascript" th:src="@{/DataTables-1.10.16/js/dataTables.bootstrap4.min.js}"></script>
		<script type="text/javascript" th:src="@{/Buttons-1.5.1/js/dataTables.buttons.min.js}"></script>
		<script type="text/javascript" th:src="@{/Buttons-1.5.1/js/buttons.bootstrap4.min.js}"></script>
		<script type="text/javascript" th:src="@{/Buttons-1.5.1/js/buttons.html5.min.js}"></script>
		<script type="text/javascript" th:src="@{/DataTables-1.10.16/js/pdfmake.min.js}"></script>
		<script type="text/javascript" th:src="@{/DataTables-1.10.16/js/vfs_fonts.js}"></script>

		<!-- bootstrap-datetimepicker -->
		<script th:src="@{/js/tempusdominus-bootstrap-4.js}"></script>

		<!-- Auto complete -->
		<script th:src="@{/js/bootstrap3-typeahead.min.js}"></script>

		<!-- Table Export -->
		<script th:src="@{/js/Blob.min.js}"></script>
		<script th:src="@{/js/xlsx.core.min.js}"></script>
		<script th:src="@{/js/FileSaver.min.js}"></script>
		<script th:src="@{/js/tableexport.js}"></script>

		<!-- AES Encryption in JS -->
		<script th:src="@{/js/AesUtil.js}"></script>
		<script th:src="@{/js/aes.js}"></script>
		<script th:src="@{/js/pbkdf2.js}"></script>

		<!-- Angular — load AFTER all jQuery plugins so $ is stable -->
		<script th:src="@{/angular/base-href-fix.js}"></script>
		<script th:src="@{/angular/angular.min.js}"></script>
		<script th:src="@{/angular/angular-route.min.js}"></script>
		<script th:src="@{/angular/angular-idle.min.js}"></script>
		<script th:src="@{/js/ui-bootstrap-tpls-2.5.0.min.js}"></script>
		<script th:src="@{/js/spin.js}"></script>
		<script th:src="@{/angular/angular-loading.js}"></script>

		<!-- Create Angular module AFTER Angular is loaded -->
		<script th:src="@{/angular/common/CommonRouting.js}"></script>

		<!-- editWorkTables helper -->
		<script type="text/javascript" th:src="@{/js/editWorkTables.js}"></script>
				<script>
    $(".sidebar-nav .nav li a").click(function() {
        $(this).parent().addClass('active').siblings().removeClass('active');
        });
    $(".nav .nav-dropdown").click(function() {
        $(this).addClass('active1').siblings().removeClass('active1');
        });
    
    $("#a1 a").click(function() {
    $("#a2").removeClass("open");
     });
    $("#a2 a").click(function() {
        $("#a1").removeClass("open");
         });
    $(".navigation a").click(function() {
        $(".nav-dropdown").removeClass("open");
         });

    $("#a1 a").click(function() {
        $(".openbox2 li").removeClass('active');
        });
    $("#a2 a").click(function() {
        $(".openbox li").removeClass('active');
        });
    $(".sidebar-nav .nav .navigation").click(function() {
        $(".nav-dropdown-items li").removeClass('active');
        });
    </script>
<style>


</style>
</div>

</body>
</html>