<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="header-css">

	<title>:: ANUPPUR ::</title>
	<!-- this is header-css -->

	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/css/simple-line-icons.css}" rel="stylesheet" />
	
	<!-- Bootstrap -->
	<link th:href="@{/css/jquery.mCustomScrollbar.min.css}"
		rel="stylesheet" />
	<link th:href="@{/js/leaflet/leaflet.css}" rel="stylesheet" />
	

	<link th:href="@{/css/angular-loading.css}" rel="stylesheet"
		type="text/css" />
	<!-- <link th:href="@{/css/buttons.dataTables.min.css}" rel="stylesheet"
		type="text/css" /> -->
	<!-- <link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet"/> -->
	<!-- <link th:href="@{/css/jquery.datetimepicker.css}" rel="stylesheet"/> -->

	<link rel="stylesheet" type="text/css"
		th:href="@{/DataTables-1.10.16/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/Buttons-1.5.1/css/buttons.bootstrap4.min.css}" />

	<link th:href="@{/css/tempusdominus-bootstrap-4.min.css}"
		rel="stylesheet" type="text/css" />
	<link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet"
		type="text/css" />

	<link th:href="@{/css/select2.min.css}" rel="stylesheet"
		type="text/css" />
	<link th:href="@{/css/bootstrap-select.css}" rel="stylesheet"
		type="text/css" />
	<link th:href="@{/css/select2-bootstrap.min.css}" rel="stylesheet"
		type="text/css" />
	<link th:href="@{/css/style.css}" rel="stylesheet" />		
	<link th:href="@{/css/custom.css}" rel="stylesheet" />
	<!-- <link th:href="@{/css/datepicker/bootstrap-datetimepicker.css}" rel="stylesheet"/> -->
	<style>
.logoname h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding-top: 0px;
    color: #0A4782;
}
.logoname {
    text-align: center;
}
.logoname p {
    font-size: 13px;
    margin: 0;
}

.app-header .navbar-nav .dropdown-menu-right {
  top: 30px!important;
  position: absolute!important;}
</style>
</div>
</head>
<body>
	<div th:fragment="header_after_login">

		<header class="app-header navbar"> 
			<button
				class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto"
				type="button">
				<i class="icon-menu"></i>
			</button>
			<a class="navbar-brand" href="#"><img width="" th:src="@{/img/logonew.jpg}" alt=""/></a>
			<button class="navbar-toggler sidebar-toggler d-md-down-none"
				type="button">
				<i class="icon-menu"></i>
			</button>
			
			<div class="logoname">
				<h3>Anuppur</h3>
				<p>Civil Works Management System</p>
				</div>
			<ul class="nav navbar-nav ml-auto pr15">
			
				
				<li class="nav-item"><input type="hidden" id="lang"
					th:value="${language}" /> <a class="nav-link" id="hiLocale"
					style="display: none" title="हिन्दी">हिन्दी</a> <a class="nav-link"
					id="enLocale" style="display: none" title="English">English</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle nav-link d-flex align-items-center text-left"
					data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
					aria-expanded="false"> <img th:src="@{/img/user.png}"
						class="img-avatar" alt="" />
						<div>
							<span th:text="${loggedInUserName}">LoggedInUserName </span> 
							
							<span class="subtitle d-md-down-none"> 
							<span class="d-md-down-none">(<span th:text="${Role}">RoleName</span>)</span> <!-- <span th:if="${designationName!=''}">-</span> <span
								th:text="${designationName}">DesignationName</span> -->
							
							
								
							</span>
						</div>
				</a>
					<div class="dropdown-menu dropdown-menu-right">
						
						<a class="dropdown-item" href="#userchangepassword"><i
							class="icon-settings"></i> Change Password</a>
						
						<a class="dropdown-item"
							onclick="if (typeof handleLogout === 'function') { handleLogout(); } document.forms['logoutForm'].submit(); return false;" href="#"><i
							class="icon-logout"></i> Logout</a>
					</div>
					
					
					
					
					</li>
			</ul>
			<form id="logoutForm" method="POST" th:action="@{/logout}">
				<input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</form>
			
		</header>

	</div>
</body>
</html>
