<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script th:src="@{/js/language.js}"></script>
</head>
<script type="text/javascript">

	//<![CDATA[
	//]]>
</script>
<div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#dashboard"><span
				>Home</span></a></li>
		<li class="breadcrumb-item active"><span>Implementing Agency Form</span></li>
		<!-- Breadcrumb Menu-->
		<li class="breadcrumb-menu d-md-down-none">
			<div class="btn-group" role="group" aria-label="Button group">
				<a class="btn" href="" data-ng-click="doTheBack($event)"><i
					class="icon-arrow-left-circle"></i> &nbsp;<span >Back</span></a>
			</div>
		</li>
	</ol>
<div class="container-fluid"  >
		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<i class="fa fa-wpforms"></i> <span>Add Implementing Agency</span>
						</div>
						<form data-ng-submit="addImplAgencyy(ImplAgency.$valid)" name="ImplAgency" novalidate="novalidate" >
							<div class="card-body">
							   <div class="row">
									<div class="col-md-12">
										<div data-ng-if="responseObject.errorMessage != null"
											class="text-danger">
											<strong>Error!</strong>
											<p>{{responseObject.errorMessage}}</p>
										</div>
									</div>
								</div>
								<div class="row">
								
								  <div class="form-group col-sm-3">
										<label><span>Implementing Agency Name</span><span
											class="aestrick">&#42;</span></label> <input type="text"
											class="form-control" name="implementationAgencyNameE"
											maxlength="100" required="required"
										    data-ng-model="formData.implementationAgencyNameE" 
										   ng-pattern="/^[a-zA-Z.]+(?:\s[a-zA-Z.]+)*$/"
											id="implementationAgencyNameE" autofocus="autofocus"/>
							        	<div data-ng-show="ImplAgency.$submitted">
									<p class="help-block" style="color: red;"
												data-ng-show="ImplAgency.implementationAgencyNameE.$error.required">
												<span th:text="#{pleaseEnter}">Please enter</span> <span>Implementing Agency</span>
											</p>
										</div>	
											<p class="help-block" style="color: red;"
												data-ng-show="ImplAgency.implementationAgencyNameE.$error.pattern">
												<span th:text="#{pleaseEnter}">Please enter</span> <span>characters only</span>
											</p>
										
	                                  </div>
	                            
								
								
									
								
								</div>	
							<div class="card-footer text-right">
			                 	<button type="submit" class="btn btn-sm btn-primary" id="submit">
			                	<span >submit</span>
			              		</button>
								<button type="reset" class="btn btn-sm btn-danger">Reset</button>
					       </div>
					  	</div>
				    </form>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>
